<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <appSettings>
    <add key="MongoDbConnectionString" value="mongodb://localhost" />
    <add key="MongoDbDatabaseName" value="MasstransitSpike" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <castle>
    <installers>
      <!--Choose the repository to use-->
      <install type="Repositories.Mongo.RepositoryInstaller, Repositories.Mongo"/>
      <!--<install type="Repositories.MySqlFake.RepositoryInstaller, Repositories.MySqlFake"/>-->
    </installers>
  </castle>
</configuration>