build
NHConfig
output
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.TeamCity.user
*.resharper
*.suo
*.swp
*.cache
*.log
*.DS_Store
*.Report.html
*.Report.xml
~$*
obj/
Obj/
bin/
Bin/

*.idea.*	
*.orig
nhconfig.bin
rake.out
TestResult.xml
WebDeployPackage.log

log.txt*
*~
error-*.xml
package.log
timeStamp.dat
.idea/workspace.xml
.idea/tasks.xml
/UpgradeLog.XML
/UpgradeLog.htm
/_UpgradeReport_Files/UpgradeReport.css
/_UpgradeReport_Files/UpgradeReport.xslt
/_UpgradeReport_Files/UpgradeReport_Error.png
/_UpgradeReport_Files/UpgradeReport_Information.png
/_UpgradeReport_Files/UpgradeReport_Success.png
/_UpgradeReport_Files/UpgradeReport_Warning.png
/src/Web/App_Data/ASPNETDB.MDF
/src/Web/App_Data/aspnetdb_log.ldf
/TestResults/MasstransitSpike.TE.Tests.mdf
/TestResults/MasstransitSpike.TE.Tests_log.ldf
/TestResults

/MasstransitSpike.sln.DotSettings.user

/packages/OctopusTools.1.1.17.57/null
